html, body {
  height: 100%;
  margin: 0;
  background-color: black;
  color:white
}

body {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  line-height: 0.25;
  text-align: center;
  font-size: 16px
}

a,
a:visited {
    color: white;
    text-decoration: underline;
}

img {
  width: 150px;
  height: auto;
}